html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #0A2342;
    color: #E4DFDA;
    justify-items: center;
}

/* NAVIGATION STYLES */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #23967F;
}

nav a {
    color: #E4DFDA;
    padding: 25px 15px;
    text-decoration-line: none;
    font-family: 'Space Grotesk';
}

nav a:hover {
    color: #E4DFDA;
    text-shadow: 1px 1px 2px #E4DFDA;
}

/* HEADER STYLES */

header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    font-family: Kanit;
    font-weight: 100;
    letter-spacing: 0.2em;
}

header h3 {
    font-family: 'Space Grotesk';
}

header .introduction {
    line-height: 10px;
    padding-bottom: 2rem;
}

.aboutme__header {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    font-family: Kanit;
    font-size: 18px;
}

.pixelself__image {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* BODY STYLING */

.body__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body__container p {
    font-family: Kanit;
}

.body__container h2 {
    font-family: 'Space Grotesk';
    padding-bottom: 2rem;
    border-bottom: 4px solid #23967F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 300px;
}

/* PROJECTS & LANGUAGES SECTION STYLING */

.projects__container {
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 15rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.projects__images {
    border-radius: 50%;
    max-width: 150px; 
    /*padding: 10px 40px;*/
}

.languages__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 15rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.languagesIndivid__container {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.languages__images {
    border-radius: 50%;
    max-width: 150px;
    padding: 5px 40px;
}

/* FOOTER STYLING */

footer h2 {
    font-family: Kanit;
}

.curved {
    background-color: #23967F;
    height: fit-content;
    width: 100%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;

}

.socialmedia__images {
    width: 75px;
}

.email {
    text-decoration: none;
    color: #0A2342;

}

.email p {
    border-bottom: 4px solid #23967F;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Space Grotesk';
}

.email p:hover {
    border-bottom: 4px solid #0A2342;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.arrow__image {
    width: 150px;
}

/* RESUME PAGE STYLING */

button {
    margin-top: 150px;
    padding: 15px 30px;
    font-family: 'Space Grotesk';
    background-color: #E4DFDA;
    border: 0;
    border-radius: 12px;
}

button:hover {
    background-color: #23967F;
}

.resume__image {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
