/*
COLORS:
----------------
Floral White - #FFFBFF
Blue (Musell) - #588157
Van Dyke - #523F38
Bistre - #362417
Snow - #FFFBFF\
Green - #588157
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8 !important;
}

h3, h2, h1 {
    font-family: 'Prata', serif;
}

p, a, li {
    font-family: 'Barlow', sans-serif;
}

a:hover {
    cursor: pointer;
}

.main-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #362417;
    padding: 5%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 2rem;
    padding-bottom: 1rem;
    
    background: hsla(351, 79%, 71%, 1);
    background: linear-gradient(90deg, hsla(351, 79%, 71%, 1) 0%, hsla(0, 0%, 97%, 1) 46%);
    background: -moz-linear-gradient(90deg, hsla(351, 79%, 71%, 1) 0%, hsla(0, 0%, 97%, 1) 46%);
    background: -webkit-linear-gradient(90deg, hsla(351, 79%, 71%, 1) 0%, hsla(0, 0%, 97%, 1) 46%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EF798A", endColorstr="#F8F8F8", GradientType=1 );
}

nav ul a {
    color: black;
    text-decoration: none;
}

nav ul a li {
    list-style: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

nav ul a li:hover {
    font-weight: bold; 
    cursor: pointer;
}

main {
    width: 100%;
    margin: 0;
    padding: 20px;
}

.header-container {
    background-color: #EF798A;
    width: 100%;
}

.head-contain-items {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.button {
    padding: 15px 25px;
    background-color: black;
    color: white;
    
}
