html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #0A2342;
    color: #E4DFDA;
    justify-items: center;
}

/* NAVIGATION STYLES */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #23967F;
}

nav a {
    color: #E4DFDA; 
    padding: 25px 15px;
    text-decoration-line: none;
    font-family: 'Space Grotesk';
}

nav a:hover {
    color: #E4DFDA;
    text-shadow: 1px 1px 2px #E4DFDA;
}

/* HEADER STYLES */

header {
    
    margin-top: 2em;
    max-height: min-content;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(10,35,66);
    background: linear-gradient(0deg, rgba(10,35,66,1) 10%, rgba(2,9,18,1) 100%);
    padding-bottom: 50px;
}

header h1 {
    font-family: Kanit;
    font-weight: 100;
    letter-spacing: 0.2em;
    color: #E4DFDA;
    text-align: center;
    padding-top: 1.5em;
}

header h3 {
    font-family: 'Space Grotesk';
    color: #E4DFDA;
    text-align: center;
}

header p {
    color: #E4DFDA;
    text-align: center;
}

header .introduction {
    line-height: 10px;
    padding-bottom: 2rem;
}

.aboutme__header {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2rem;
    font-family: Kanit;
    font-size: 18px;
}

.pixelself__image {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

/* BODY STYLING */

.body__container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #0A2342;
    color: #E4DFDA;
}

.body__container p {
    font-family: Kanit;
}

.body__container h2 {
    font-family: 'Space Grotesk';
    padding-bottom: 2rem;
    border-bottom: 4px solid #23967F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: 300px;
}

/* PROJECTS & LANGUAGES SECTION STYLING */

.projects__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.projectsIndivid__container {
    display: flex;
    flex-direction: column;
}

.projects__images { 
    border-radius: 50%;
    max-width: 250px;
    min-width: 150px;
    padding: 5px 40px;
}

.languages__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 15rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.languagesIndivid__container {
    display: flex;
    flex-direction: column;
}

.languages__images {
    border-radius: 50%;
    max-width: 250px;
    min-width: 150px;
    padding: 5px 40px;
}

/* FOOTER STYLING */

footer h2 {
    font-family: Kanit;
    text-align: center;
    padding-top: 0;
    margin-top: 1em !important;
}

.curved {
    background-color: #23967F;
    height: fit-content;
    width: 100%;
    border-top-left-radius: 200%;
    border-top-right-radius: 200%;
    justify-content: center;
    text-align: center;
}

.socialmedia__images {
    width: 75px;
    margin-right: auto;
    margin-left: auto;
}

.email {
    text-decoration: none;
    color: #0A2342;

}

.email p {
    border-bottom: 4px solid #23967F;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Space Grotesk';
}

.email p:hover {
    border-bottom: 4px solid #0A2342;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.arrow__image {
    width: 150px;
}

/* RESUME PAGE STYLING */

.resumebody__container {
    display: flex;
    flex-direction: column;
    background-color: #0A2342;

}

.button__container {
    border-color: aqua;
    margin-top: 8em;
    font-family: 'Space Grotesk';
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 15px 30px;
    background-color: #E4DFDA;
    color: #0A2342;
    border: 0;
    border-radius: 12px !important;
}

button:hover {
    background-color: #23967F;
}

.resume__image {
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
